@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
#menu-container {
    border-bottom: 2px solid #ccc; /* Add a border at the bottom */
    margin-bottom: 20px; /* Add some margin for spacing */
    border-top:2px solid #ccc ;
}
.nav-link {
    font-family: 'Work Sans', sans-serif; /* Apply 'Work Sans' font to the menu items */
    transition: color 0.3s; /* Add a smooth transition effect */
  }
  
  .nav-link:hover {
    color: #007bff; /* Change the color on hover (you can customize this color) */
  }

  .cart-icon {
    width: 30px; /* Set the width of the cart icon */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Add some spacing between the icon and text */
  }
  #text1{
    font-family: 'Work Sans', sans-serif;
    color: rgb(19, 42, 69);
  }
  .no-underline {
    text-decoration: none;
  }
  #text2{
    font-family: 'Work Sans', sans-serif;
  }
  .subscribe-container {
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }

  .subscribe-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }

  .subscribe-container button {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #0a0000;
    cursor: pointer;
  }

  .subscribe-container button:hover {
    background-color: #010c17;
    color: white;
  }
  .container {
    max-width: 800px;
  }
  #text3{
    font-family: 'Work Sans', sans-serif;
    font-size: 4.0em; /* Adjust the font size as needed */
    font-weight:bolder;
    color: #b4bec2; /* Set your desired text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  }
